html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#tools {
  background: #000000;
  color: #FFFFFF;
  float: left;
  width: 300px;
}

.popups {
  padding: 5px;
  background-color: #333333;
  border: 0px;
  color: white;
  font-size: 10pt;
  outline: none;
  font-family: sans-serif;
  z-index: 10000000;
  display: none;
  position: absolute;
}

.popups input[type="text"] {
  margin: 2px;
}

#entire {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}

#left {
  float: left;
  padding: 0;
  width: 420px;
  height: auto;
  background-color: #000000;
  z-index: 0;
}

#glcanvas {
  float: left;
  width: auto;
  overflow: hidden;
  z-index: 5000;
}

#textEditor { 
  margin: 0px;
  height: 300px;
  z-index: 1;
}

#blocksEditor {
  display: none;
  background-color: blue;
  margin: 0px;
}

#blocksCanvas { 
  position: absolute;
  background-color: black;
}

#console {
  font-family: Courier;
  outline: none;
  background-color: #333333;
  color: #FFFFFF;
  height: 200px;
  overflow: auto;
  z-index: 1000;
}

#message {
  overflow: auto;
}

/* Fattens the handle for resizing the console. Needed because the textEditor seems 
   to snarf up its size of the boundary. */
#console > .ui-resizable-n {
  top: 0;
  height: 5px;
}

#menu input[type="button"] {
  background-color: #000000;
  border: 0px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 10pt;
  outline: none;
  pointer-events: auto;
  z-index: 10;
}

#menu input[type="button"]:active {
  background-color: #333333;
  /* z-index: 10000000; */
}

.srclink:link {
  color: #FF9999; 
}

.srclink:visited {
  color: #000000; 
}

.srclink:hover {
  color: #FF9900; 
}

.srclink:active {
  color: #FF99FF; 
}

#menu {
  background-color: #000000;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#downloader {
  position: fixed;
  top: 600px;
  left: 0px;
  width: 420px;
}

.fileLink {
  color: #FFFFFF;
}
