html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#tools {
  float: left;
  width: 300px;
}

.popup {
  padding: 5px;
  border: 0px;
  font-size: 10pt;
  outline: none;
  font-family: sans-serif;
  z-index: 10000000;
  display: none;
  position: absolute;
}

.popup input[type="text"] {
  margin: 2px;
}

#entire {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background: #00FF00; */
}

#left {
  float: left;
  padding: 0;
  width: 420px;
  height: auto;
  z-index: 0;
}

#glcanvas canvas {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

#glcanvas {
  float: left;
  width: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: none;
}

#textEditor { 
  margin: 0px;
  height: 300px;
  z-index: 1;
}

#blocksEditor {
  display: none;
  margin: 0px;
}

#blocksCanvas { 
  position: absolute;
}

#console {
  font-family: Courier;
  outline: none;
  height: 50px;
  /* height: 0px; */
  overflow: auto;
  z-index: 1000;
  /* visibility: hidden; */
}

#message {
  overflow: auto;
}

/* Fattens the handle for resizing the console. Needed because the textEditor seems 
   to snarf up its size of the boundary. */
#console > .ui-resizable-n {
  top: 0;
  height: 5px;
}

#menu input[type="button"] {
  border: 0px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;

  /* We use padding instead of margin, because we want the background color to stretch up and down to the menu. */
  padding-top: 4px;
  padding-bottom: 4px;

  font-size: 10pt;
  outline: none;
  pointer-events: auto;
  z-index: 10;

  /* iOS wants to pretty up the buttons. No. */
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

#menu input[type="button"]:active {
}

.srclink:link {
}

.srclink:visited {
}

.srclink:hover {
}

.srclink:active {
}

#menu {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#downloader {
  position: fixed;
  top: 600px;
  left: 0px;
  width: 420px;
}

.fileLink {
}

#mupsContainer {
  height: 400px;
}

#mups {
  height: 100%;
  overflow: auto;
}

audio::-webkit-media-controls-enclosure {
  max-width: 100%;
}

#keystrokes {
  clear: left;
  float: left;
  border: none;
  margin: 0;
  padding: 0;
  background: #000000;
  width: 100%;
}

#scrubber {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.popupDropdown {
  font-size: 30px;
  background: transparent;
  padding: 5px;
  text-indent: 10px;
  color: #ffffff;
  -webkit-appearance: none;
}

.blocklyText {
  font-family: 'Hammersmith One', sans-serif !important;
}
