#tools {
  background: #FF0000;
  color: #FFFFFF;
}

#left {
  background-color: #000000;
}

#console {
  background-color: #DEDEDE;
  color: #800000;
}

#menu input[type="button"] {
  background-color: #DEDEDE;
  color: #800000;
}

#menu input[type="button"].open {
  background-color: #CCCCCC;
  color: #800000;
}

#menu input[type="button"].closed {
  background-color: #DEDEDE;
  color: #800000;
}

#menu input[type="button"]:active {
  background-color: #CCCCCC;
}

.srclink:link {
  color: #CC9900; 
}

.srclink:visited {
  color: #FF9900; 
}

.srclink:hover {
  color: #FF9900; 
}

.srclink:active {
  color: #FF99FF; 
}

#menu {
  background-color: #DEDEDE;
}

.menu-link {
  color: #000040;
}

.menu-link.unclickable {
  color: #999999 !important;
}

#right {
  background-color: rgb(220, 220, 220);
  color: black;
}

ul#settings > li {
  border-color: rgb(180, 180, 180);
}

ul#settings > li > .panel-section-label {
  color: rgb(100, 50, 0);
}

ul#settings > li > .panel-section-label:hover {
  color: rgb(200, 150, 0);
}

.toggler, #panel-section-tutorial > .panel-section-content a {
  color: rgb(0, 100, 200);
}

.doccopy h3 {
  color: rgb(200, 100, 0);
}

.doccopy h4 {
  color: rgb(150, 50, 0);
}
