#tools {
  background: #000000;
  color: #FFFFFF;
}

#left {
  background-color: #000000;
}

#console {
  background-color: #333333;
  color: #FFFFFF;
}

#menu input[type="button"] {
  background-color: #000000;
  color: #FFFFFF;
}

#menu input[type="button"].open {
  background-color: #333333;
  color: #FFFFFF;
}

#menu input[type="button"].closed {
  background-color: #000000;
  color: #FFFFFF;
}

#menu input[type="button"]:active {
  background-color: #333333;
}

.srclink:link {
  color: #FF9999; 
}

.srclink:visited {
  color: #000000; 
}

.srclink:hover {
  color: #FF9900; 
}

.srclink:active {
  color: #FF99FF; 
}

#menu {
  background-color: #000000;
}

.menu-link {
  color: #FFFFFF;
}

.menu-link.unclickable {
  color: #666666 !important;
}

#right {
  background-color: black;
  color: white;
}

ul#settings > li > .panel-section-label {
  color: #FFCC99;
}

ul#settings > li > .panel-section-label:hover {
  color: #DDDD00;
}
